<div class="container">
  <% if @character.errors.any? %>
    <div class='alert alert-danger'>
        <p>Please correct the following errors:</p>
        <ul>
        <% @character.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
        <% end %>
        </ul>
    </div>
  <% end %>

  <%= form_for @character do |f| %>
    <div class='form-group'>
        <%= f.label :title %>
        <%= f.text_field :title, class: 'form-control' %>
    </div>
    <div class='form-group'>
        <%= f.label :description %>
        <%= f.text_area :description, class: 'form-control' %>
    </div>
    <div class='form-group'>
        <%= f.label :project_name %>
        <%= f.text_field :project_name, class: 'form-control' %>
    </div>
    <div class='form-group'>
        <%= f.label :shooting_start %>
        <%= f.date_field :shooting_start, class: 'form-control' %>
    </div>
    <div class='form-group'>
        <%= f.label :shooting_end %>
        <%= f.date_field :shooting_end, class: 'form-control' %>
    </div>
    <div class='form-group'>
        <%= f.label :deadline %>
        <%= f.date_field :deadline, class: 'form-control' %>
    </div>
    <%= f.submit 'Save', class: 'btn btn-primary' %>
    <%= link_to "Cancel", :back, {:class=>"btn btn-primary"} %>
  <% end %>
</div>