<script>
$(document).ready(function(){
  $("#myInput").on("keyup", function() {
    var value = $(this).val().toLowerCase();
    $("#my_tbody tr").filter(function() {
      $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
    });
  });
});
</script>

<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("table");
  switching = true;
  //Set the sorting direction to ascending:
  dir = "asc"; 
  /*Make a loop that will continue until
  no switching has been done:*/
  while (switching) {
    //start by saying: no switching is done:
    switching = false;
    rows = table.rows;
    /*Loop through all table rows (except the
    first, which contains table headers):*/
    for (i = 1; i < (rows.length - 1); i++) {
      //start by saying there should be no switching:
      shouldSwitch = false;
      /*Get the two elements you want to compare,
      one from current row and one from the next:*/
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      /*check if the two rows should switch place,
      based on the direction, asc or desc:*/
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch= true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          //if so, mark as a switch and break the loop:
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      /*If a switch has been marked, make the switch
      and mark that a switch has been done:*/
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      //Each time a switch is done, increase this count by 1:
      switchcount ++;      
    } else {
      /*If no switching has been done AND the direction is "asc",
      set the direction to "desc" and run the while loop again.*/
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>

<h1 align="center" style="margin-bottom: 3%;">Roles are opened for casting</h1>
<div class="btn-group" style="width:10%;">
  <%= link_to "Back", managers_index_path, class: 'btn btn-primary', :style => "width: 60px; margin-left: 1%;" %>
  <%= link_to "Add Role", new_character_url, method: :get, class: 'btn btn-primary', :style => "width: 92px" %>
</div>
<div class="row" style="margin-bottom: 1%;" >
</div>


<p/>
<input class="form-control" id="myInput" type="text" style="width: 30%;" placeholder="Search..">
<%# <h2>Нажми на заголовок (инструкция, потом удалим)</h2> %>
<table class="table table-hover table-bordered table-striped" id="table">
  <thead>
    <tr>
      <th scope="col" onclick="sortTable(0)">#</th>
      <th scope="col" onclick="sortTable(1)">Title</th>
      <th scope="col" onclick="sortTable(2)">Project Name</th>
      <th scope="col" onclick="sortTable(3)">Description</th>
      <th scope="col" onclick="sortTable(4)">Deadline</th>
      <th scope="col" onclick="sortTable(6)">Shooting Start</th>
      <th scope="col" onclick="sortTable(7)">Shooting End</th>
      <th scope="col" ></th>
      <th scope="col" ></th>
    </tr>
  </thead>
  <tbody id="my_tbody">
    <% @characters.each do |char|%>
      <tr>
        <th scope="row"><%= char.id %></th>
        <td><%= char.title %></td>
        <td><%= char.project_name %></td>
        <td><%= char.description %></td>
        <td><%= char.deadline %></td>
        <td><%= char.shooting_start %></td>
        <td><%= char.shooting_end %></td>
        <td><%= button_to "Update", edit_character_url(char), method: :get, class: 'btn btn-primary' %></td>
        <td><%= button_to "Cancel", character_url(char), method: :delete, class: 'btn btn-primary' %></td>
      </tr>
    <% end %>
  </tbody>
</table>








